@import "list_sourceManagement.scss";

#sourceManagement
{
	border-top:0px;
	border-bottom:1px solid;
	border-color:rgb(229,229,229);
}
#picManagement
{
	border-right:1px solid;
	border-color:rgb(229,229,229);
}
#dynamicManagement
{
	border-top:7px solid;
	border-bottom:0px;
	border-left:0px;
	border-color:rgb(253,103,32);
}
#moneyPrincple
{
	border-top:0px;
	border-bottom:1px solid;
	border-color:rgb(229,229,229);
}

.building_table
{
	tr 
	{
		.checkbox
		{
			width:6%;
		}
		.checkbox-input
		{
			position: relative;
			left:20%;
		}
		.title 
		{
			display: -webkit-flex; //Safari
  			display: flex;
			justify-content: flex-start;
			color:rgb(102,102,102);
			width:50%;
		}
		// .title
		// {
			
		// }
		.time
		{
			width:26%;
		}
		.operation
		{
			width:18%;
		}
		.operation1,.operation2
		{
			width:9%;
			color:rgb(102,102,102);
		}
	}
}