<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hitwh.fanghh.dao.ConsultantcommentfrombrokerDao">
  <resultMap id="BaseResultMap" type="hitwh.fanghh.pojo.Consultantcommentfrombroker">
    <id column="ccfb_id" jdbcType="INTEGER" property="ccfbId" />
    <result column="broker_id" jdbcType="INTEGER" property="brokerId" />
    <result column="consultant_id" jdbcType="INTEGER" property="consultantId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="entire_comment" jdbcType="VARCHAR" property="entireComment" />
    <result column="expertise_level_comment" jdbcType="DECIMAL" property="expertiseLevelComment" />
    <result column="track_speed_comment" jdbcType="DECIMAL" property="trackSpeedComment" />
    <result column="courtesty_comment" jdbcType="DECIMAL" property="courtestyComment" />
    <result column="comment_writing" jdbcType="VARCHAR" property="commentWriting" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
    <result column="comment_check_status" jdbcType="VARCHAR" property="commentCheckStatus" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="reply_check_status" jdbcType="VARCHAR" property="replyCheckStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    ccfb_id, broker_id, consultant_id, order_id, entire_comment, expertise_level_comment, 
    track_speed_comment, courtesty_comment, comment_writing, comment_time, comment_check_status, 
    reply_time, reply_content, reply_check_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.ConsultantCommentFromBroker
    where ccfb_id = #{ccfbId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dbo.ConsultantCommentFromBroker
    where ccfb_id = #{ccfbId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hitwh.fanghh.pojo.Consultantcommentfrombroker">
    insert into dbo.ConsultantCommentFromBroker (ccfb_id, broker_id, consultant_id, 
      order_id, entire_comment, expertise_level_comment, 
      track_speed_comment, courtesty_comment, comment_writing, 
      comment_time, comment_check_status, reply_time, 
      reply_content, reply_check_status)
    values (#{ccfbId,jdbcType=INTEGER}, #{brokerId,jdbcType=INTEGER}, #{consultantId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=VARCHAR}, #{entireComment,jdbcType=VARCHAR}, #{expertiseLevelComment,jdbcType=DECIMAL}, 
      #{trackSpeedComment,jdbcType=DECIMAL}, #{courtestyComment,jdbcType=DECIMAL}, #{commentWriting,jdbcType=VARCHAR}, 
      #{commentTime,jdbcType=TIMESTAMP}, #{commentCheckStatus,jdbcType=VARCHAR}, #{replyTime,jdbcType=TIMESTAMP}, 
      #{replyContent,jdbcType=VARCHAR}, #{replyCheckStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hitwh.fanghh.pojo.Consultantcommentfrombroker">
    insert into dbo.ConsultantCommentFromBroker
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ccfbId != null">
        ccfb_id,
      </if>
      <if test="brokerId != null">
        broker_id,
      </if>
      <if test="consultantId != null">
        consultant_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="entireComment != null">
        entire_comment,
      </if>
      <if test="expertiseLevelComment != null">
        expertise_level_comment,
      </if>
      <if test="trackSpeedComment != null">
        track_speed_comment,
      </if>
      <if test="courtestyComment != null">
        courtesty_comment,
      </if>
      <if test="commentWriting != null">
        comment_writing,
      </if>
      <if test="commentTime != null">
        comment_time,
      </if>
      <if test="commentCheckStatus != null">
        comment_check_status,
      </if>
      <if test="replyTime != null">
        reply_time,
      </if>
      <if test="replyContent != null">
        reply_content,
      </if>
      <if test="replyCheckStatus != null">
        reply_check_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ccfbId != null">
        #{ccfbId,jdbcType=INTEGER},
      </if>
      <if test="brokerId != null">
        #{brokerId,jdbcType=INTEGER},
      </if>
      <if test="consultantId != null">
        #{consultantId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="entireComment != null">
        #{entireComment,jdbcType=VARCHAR},
      </if>
      <if test="expertiseLevelComment != null">
        #{expertiseLevelComment,jdbcType=DECIMAL},
      </if>
      <if test="trackSpeedComment != null">
        #{trackSpeedComment,jdbcType=DECIMAL},
      </if>
      <if test="courtestyComment != null">
        #{courtestyComment,jdbcType=DECIMAL},
      </if>
      <if test="commentWriting != null">
        #{commentWriting,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentCheckStatus != null">
        #{commentCheckStatus,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null">
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyContent != null">
        #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyCheckStatus != null">
        #{replyCheckStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hitwh.fanghh.pojo.Consultantcommentfrombroker">
    update dbo.ConsultantCommentFromBroker
    <set>
      <if test="brokerId != null">
        broker_id = #{brokerId,jdbcType=INTEGER},
      </if>
      <if test="consultantId != null">
        consultant_id = #{consultantId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="entireComment != null">
        entire_comment = #{entireComment,jdbcType=VARCHAR},
      </if>
      <if test="expertiseLevelComment != null">
        expertise_level_comment = #{expertiseLevelComment,jdbcType=DECIMAL},
      </if>
      <if test="trackSpeedComment != null">
        track_speed_comment = #{trackSpeedComment,jdbcType=DECIMAL},
      </if>
      <if test="courtestyComment != null">
        courtesty_comment = #{courtestyComment,jdbcType=DECIMAL},
      </if>
      <if test="commentWriting != null">
        comment_writing = #{commentWriting,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentCheckStatus != null">
        comment_check_status = #{commentCheckStatus,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null">
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyContent != null">
        reply_content = #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyCheckStatus != null">
        reply_check_status = #{replyCheckStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where ccfb_id = #{ccfbId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hitwh.fanghh.pojo.Consultantcommentfrombroker">
    update dbo.ConsultantCommentFromBroker
    set broker_id = #{brokerId,jdbcType=INTEGER},
      consultant_id = #{consultantId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      entire_comment = #{entireComment,jdbcType=VARCHAR},
      expertise_level_comment = #{expertiseLevelComment,jdbcType=DECIMAL},
      track_speed_comment = #{trackSpeedComment,jdbcType=DECIMAL},
      courtesty_comment = #{courtestyComment,jdbcType=DECIMAL},
      comment_writing = #{commentWriting,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      comment_check_status = #{commentCheckStatus,jdbcType=VARCHAR},
      reply_time = #{replyTime,jdbcType=TIMESTAMP},
      reply_content = #{replyContent,jdbcType=VARCHAR},
      reply_check_status = #{replyCheckStatus,jdbcType=VARCHAR}
    where ccfb_id = #{ccfbId,jdbcType=INTEGER}
  </update>
</mapper>
