#picHouse {
  border-right: 1px solid #e5e5e5;
}

#moneyPrincple {
  border-top: 7px solid;
  border-bottom: 0px;
  border-left: 0px;
  border-color: #fd6720;
}

.content_title {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-top: 20px;
  height: 60px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.princple-table {
  margin-top: 150px;
  margin-bottom: 100px;
  width: 100%;
  border: 0px;
  border-collapse: collapse;
}
.princple-table tr {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  height: 45px;
  width: 100%;
  margin: 0px;
  border: 1px solid;
  border-color: #ebebeb;
}
.princple-table tr td {
  display: -webkit-flex;
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #666;
}
.princple-table .line0 {
  background-color: #f4f4f4;
}
.princple-table .line1 {
  background-color: #fff;
}
.princple-table .line1 .operation1, .princple-table .line1 .operation2 {
  color: #0066cc;
}
.princple-table .line2 {
  background-color: #eff3fb;
}
.princple-table .line2 .operation1, .princple-table .line2 .operation2 {
  color: #0066cc;
}
.princple-table .title {
  width: 185px;
}
.princple-table .type {
  width: 255px;
}
.princple-table .detail {
  width: 310px;
}
.princple-table .explain {
  width: 350px;
}
.princple-table .operation {
  width: 160px;
}
.princple-table .operation1, .princple-table .operation2 {
  width: 80px;
}
