<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content ="text/html;charset=utf-8"/>
<title>FormPage</title>
<!-- <link type="text/css" rel="stylesheet" href="frame.css"/> -->
<link type="text/css" rel="stylesheet" href="../../css/frame.css"/>
<link type="text/css" rel="stylesheet" href="../../css/inputStyle.css"/>
<style type="text/css">

</style>
</head>
<body>
<div class="leftArea">
	<div class="logoBox">
		<img src="../../image/logo1.png" alt="logo" class="logo">
	</div>
	<div class="nav">
		<ul class="navigation">
			<li class="navigation_group">
				<div class="navigation_groupname">楼盘管理</div>
				<ul class="linkset">
					<li class="link">
						<a href="" class="navigation_link">发布新楼盘</a>
					</li>
					<li class="link">
						<a href="" class="navigation_link">管理楼盘</a>
					</li>
					<li class="link">
						<a href="" class="navigation_link">楼圈点评</a>
					</li>
				</ul>
			</li>
			<li class="navigation_group">
				<div class="navigation_groupname">活动管理</div>
				<ul class="linkset">
					<li class="link">
						<a href="" class="navigation_link">发布新活动</a>
					</li>
					<li class="link">
						<a href="" class="navigation_link">管理活动</a>
					</li>
				</ul>
			</li>
			<li class="navigation_group">
				<div class="navigation_groupname">用户认证管理</div>
				<ul class="linkset">
					<li class="link">
						<a href="" class="navigation_link">实名认证</a>
					</li>
					<li class="link">
						<a href="" class="navigation_link">门店认证</a>
					</li>
				</ul>
			</li>
			<li class="navigation_group">
				<div class="navigation_groupname">报表统计</div>
				<ul class="linkset">
					<li class="link">
						<a href="" class="navigation_link">预留</a>
					</li>
					<li class="link">
						<a href="" class="navigation_link">预留</a>
					</li>
				</ul>
			</li>
			<li class="navigation_group">
				<div class="navigation_groupname">系统设置</div>
				<ul class="linkset">
					<li class="link">
						<a href="" class="navigation_link">数据字典管理</a>
					</li>
					<li class="link">
						<a href="" class="navigation_link">用户管理</a>
					</li>
					<li class="link">
						<a href="" class="navigation_link">角色管理</a>
					</li>
					<li class="link">
						<a href="" class="navigation_link">权限/模块管理</a>
					</li>
					<li class="link">
						<a href="" class="navigation_link">日志管理</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="header clearfix">
	<div class="titleBox">
		<h1>后台管理中心</h1>
	</div>
	<div class="account">
		欢迎您， <span>1863110186</span> | <a href="">退出</a>
	</div>
</div>

<div class="content">
	<div class="content_area">
		<div class="content_area_title">
			<h2>发布新楼盘</h2>
		</div>
		<div class="content_main">
			<!--<div class="hint">
				<p class="hint_text">审核不通过原因：价格填写错误</p>
			</div>-->
			<div class="inputArea">
				<h3>楼盘录入</h3>
				<form>
					<div class="row">
						<div class="form-item form-item-large">
							<label class="label-long">上传效果图：</label>
							<div class="form-field">
								<button type="button" class="choose-file">选择文件</button>
								<button type="button" class="submit-file"><div><img src="../../image/pic_upload.png"></div>批量上传</button>
							</div>
						</div>
						<div class="picList">
							<img src="../../image/slt.jpg">
							<img src="../../image/close_1.png" class="close-pic">
							<img src="../../image/slt.jpg">
							<img src="../../image/close_1.png" class="close-pic">
							<img src="../../image/slt.jpg">
							<img src="../../image/close_1.png" class="close-pic">
							<img src="../../image/slt.jpg">
							<img src="../../image/close_1.png" class="close-pic">
						</div>
					</div>
					<div class="row">
						<div class="form-item form-item-large">
							<label class="label-long">上传实景图：</label>
							<div class="form-field">
								<button type="button" class="choose-file">选择文件</button>
								<button type="button" class="submit-file"><div><img src="../../image/pic_upload.png"></div>批量上传</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-item form-item-large">
							<label class="label-long">上传规划图：</label>
							<div class="form-field">
								<button type="button" class="choose-file">选择文件</button>
								<button type="button" class="submit-file"><div><img src="../../image/pic_upload.png"></div>批量上传</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-item form-item-large">
							<label class="label-long">上传配套图：</label>
							<div class="form-field">
								<button type="button" class="choose-file">选择文件</button>
								<button type="button" class="submit-file"><div><img src="../../image/pic_upload.png"></div>批量上传</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-item form-item-large">
							<label class="label-long">上传样板间：</label>
							<div class="form-field">
								<button type="button" class="choose-file">选择文件</button>
								<button type="button" class="submit-file"><div><img src="../../image/pic_upload.png"></div>批量上传</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-item form-item-large">
							<label class="label-long">位置与周边：</label>
							<div class="form-field">
								<select name="" id="" class="form-text middleLength"></select>
								<button type="button" class="submit-file">添加</button>
							</div>
						</div>
						<div class="map-pic">
							<img src="../../image/map.jpg">
						</div>
					</div>
					<div class="row">
						<div class="form-item form-item-large">
							<label for="username">房价走势：<span class="justify"></span></label>
							<div class="form-field">
								<select name="" id="" class="form-text shortSelect"></select>
								<span>年</span>
								<select name="" id="" class="form-text shortSelect"></select>
								<span>月</span>
								<select name="" id="" class="form-text shortSelect"></select>
								<span>日</span>
								<input type="text" class="form-text middleLength" name="">
								<span>元</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-item form-item-large">
							<div class="form-field">
								<select name="" id="" class="form-text shortSelect"></select>
								<span>年</span>
								<select name="" id="" class="form-text shortSelect"></select>
								<span>月</span>
								<select name="" id="" class="form-text shortSelect"></select>
								<span>日</span>
								<input type="text" class="form-text middleLength" name="">
								<span>元</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-item form-item-large">
							<div class="form-field">
								<select name="" id="" class="form-text shortSelect"></select>
								<span>年</span>
								<select name="" id="" class="form-text shortSelect"></select>
								<span>月</span>
								<select name="" id="" class="form-text shortSelect"></select>
								<span>日</span>
								<input type="text" class="form-text middleLength" name="">
								<span>元</span>
								<button type="button" class="submit-file">添加</button>
							</div>
						</div>
					</div>
				</form>
				<div class="button-area">
					<button type="button" class="btn goback">上一步</button>
					<button type="button" class="btn save-continue">保存并下一步</button>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="footer">
		<div class="footer_content">Copyright(c) 2005-2014 威海翰宝科技 All Rights Reserved</div>
		<div class="footer_content">联系电话: 0631-52123456</div>
		<div class="footer_content">鲁ICP备05003732号</div>
	</div>
</div>




<script type="text/javascript">

</script>
<script src="script.js"></script>
</body>
</html>